<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dark.graduations.mapper.LessonMapper">
    <select id="getMargin" resultType="Integer">
        select Lesson_Margin from lesson where Lesson_Id = #{LessonId}
    </select>

    <update id="updateMargin">
        update lesson set Lesson_Margin = #{Margin} where Lesson_Id = #{LessonId}
    </update>


    <select id="querryAll" resultType="com.dark.graduations.pojo.Lesson">
        select * from lesson
    </select>
</mapper>