<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dark.graduations.mapper.StudentMapper">
    <select id="querryByStuId" resultType="String">
        select Stu_Pwd from student where Stu_Id = #{StuId}
    </select>

    <select id="querryByOpenId" resultType="com.dark.graduations.pojo.Student">
        select * from student where openid = #{OpenId}
    </select>

    <select id="querryAll" resultType="com.dark.graduations.vo.StudentLessonInfo">
        select Lesson_Id, Lesson_Name, Lesson_Time, Lesson_Local, Lesson_Type, Lesson_Desc, Tea_Name, Tea_Sex, Tea_Tel from (select Lesson_Id, Lesson_Name, Lesson_Time, Lesson_Local, Tea_Id, Lesson_Type, Lesson_Desc from lesson
        where Lesson_Id = (select Lesson_Id from orders where Stu_Id = #{StuId})) as result inner join teacher on result.Tea_Id = teacher.Tea_Id
    </select>

</mapper>